@model IEnumerable<Rental.Data.Models.Client>
@using Rental.Web.Controllers;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                Age
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMale)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var client in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => client.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.Surname)
            </td>
            <td>
                @ClientController.GetAge(client.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.IsMale)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = client.Id }) |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = client.Id })
            </td>
        </tr>
}
    </tbody>
</table>
